*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5e6c8;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.menu-card{
    width:420px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    color:#d35400;
}

.tagline{
    text-align:center;
    color:gray;
    margin-bottom:15px;
}

h2{
    margin-top:20px;
    color:#8e4400;
    border-bottom:2px solid orange;
    padding-bottom:5px;
}

.item{
    display:flex;
    justify-content:space-between;
    padding:10px 0;
    border-bottom:1px dashed gray;
    font-size:18px;
}

.item:hover{
    background:#fff2cc;
    padding-left:10px;
    transition:0.3s;
}